## Python datetime
Python has a module named datetime to work with dates and times.

#### Example 1: Get Current Date and Time

In [2]:
import datetime

datetime_object = datetime.datetime.now()
print(datetime_object)

2021-03-29 21:19:12.679209

#### Example 2: Get Current Date

In [3]:

import datetime

date_object = datetime.date.today()
print(date_object)

2021-03-29

What's inside datetime?

We can use dir() function to get a list containing all attributes of a module.

In [4]:
import datetime

print(dir(datetime))

['MAXYEAR', 'MINYEAR', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'date', 'datetime', 'datetime_CAPI', 'sys', 'time', 'timedelta', 'timezone', 'tzinfo']

Commonly used classes in the datetime module are:

    date Class
    time Class
    datetime Class
    timedelta Class

### datetime.date Class

You can instantiate date objects from the date class. A date object represents a date (year, month and day).

#### Example 3: Date object to represent a date

In [6]:
d = datetime.date(2019, 4, 13)
d

datetime.date(2019, 4, 13)

If you are wondering, date() in the above example is a constructor of the date class. The constructor takes three arguments: year, month and day.

The variable a is a date object.

#### Example 4: Get current date

You can create a date object containing the current date by using a classmethod named today(). Here's how:

In [7]:

from datetime import date

today = date.today()

print("Current date =", today)

Current date = 2021-03-29

#### Example 5: Get date from a timestamp

We can also create date objects from a timestamp. A Unix timestamp is the number of seconds between a particular date and January 1, 1970 at UTC. You can convert a timestamp to date using fromtimestamp() method.

In [8]:
from datetime import date

timestamp = date.fromtimestamp(1326244364)
print("Date =", timestamp)

Date = 2012-01-11

#### Example 6: Print today's year, month and day

We can get year, month, day, day of the week etc. from the date object easily. Here's how:

In [9]:
from datetime import date

# date object of today's date
today = date.today() 

print("Current year:", today.year)
print("Current month:", today.month)
print("Current day:", today.day)

Current year: 2021
Current month: 3
Current day: 29

### datetime.time

A time object instantiated from the time class represents the local time.
<br>
#### Example 7: Time object to represent time

In [10]:
from datetime import time

# time(hour = 0, minute = 0, second = 0)
a = time()
print("a =", a)

# time(hour, minute and second)
b = time(11, 34, 56)
print("b =", b)

# time(hour, minute and second)
c = time(hour = 11, minute = 34, second = 56)
print("c =", c)

# time(hour, minute, second, microsecond)
d = time(11, 34, 56, 234566)
print("d =", d)

a = 00:00:00
b = 11:34:56
c = 11:34:56
d = 11:34:56.234566


#### Example 8: Print hour, minute, second and microsecond

Once you create a time object, you can easily print its attributes such as hour, minute etc.

In [11]:
from datetime import time

a = time(11, 34, 56)

print("hour =", a.hour)
print("minute =", a.minute)
print("second =", a.second)
print("microsecond =", a.microsecond)

hour = 11
minute = 34
second = 56
microsecond = 0

### datetime.datetime

The datetime module has a class named dateclass that can contain information from both date and time objects.
<br>
#### Example 9: Python datetime object

In [12]:
from datetime import datetime

#datetime(year, month, day)
a = datetime(2018, 11, 28)
print(a)

# datetime(year, month, day, hour, minute, second, microsecond)
b = datetime(2017, 11, 28, 23, 55, 59, 342380)
print(b)

2018-11-28 00:00:00
2017-11-28 23:55:59.342380

#### Example 10: Print year, month, hour, minute and timestamp

In [13]:
from datetime import datetime

a = datetime(2017, 11, 28, 23, 55, 59, 342380)
print("year =", a.year)
print("month =", a.month)
print("hour =", a.hour)
print("minute =", a.minute)
print("timestamp =", a.timestamp())

year = 2017
month = 11
hour = 23
minute = 55
timestamp = 1511893559.34238

datetime.timedelta

A timedelta object represents the difference between two dates or times.
<br>
#### Example 11: Difference between two dates and times

In [14]:
from datetime import datetime, date

t1 = date(year = 2018, month = 7, day = 12)
t2 = date(year = 2017, month = 12, day = 23)
t3 = t1 - t2
print("t3 =", t3)

t4 = datetime(year = 2018, month = 7, day = 12, hour = 7, minute = 9, second = 33)
t5 = datetime(year = 2019, month = 6, day = 10, hour = 5, minute = 55, second = 13)
t6 = t4 - t5
print("t6 =", t6)

print("type of t3 =", type(t3)) 
print("type of t6 =", type(t6))

t3 = 201 days, 0:00:00
t6 = -333 days, 1:14:20
type of t3 = <class 'datetime.timedelta'>
type of t6 = <class 'datetime.timedelta'>

#### Example 12: Difference between two timedelta objects

In [15]:
from datetime import timedelta

t1 = timedelta(weeks = 2, days = 5, hours = 1, seconds = 33)
t2 = timedelta(days = 4, hours = 11, minutes = 4, seconds = 54)
t3 = t1 - t2

print("t3 =", t3)

t3 = 14 days, 13:55:39

#### Example 13: Printing negative timedelta object

In [16]:
from datetime import timedelta

t1 = timedelta(seconds = 33)
t2 = timedelta(seconds = 54)
t3 = t1 - t2

print("t3 =", t3)
print("t3 =", abs(t3))

t3 = -1 day, 23:59:39
t3 = 0:00:21

#### Example 14: Time duration in seconds

You can get the total number of seconds in a timedelta object using total_seconds() method.

In [18]:
from datetime import timedelta

t = timedelta(days = 5, hours = 1, seconds = 33, microseconds = 233423)
print("total seconds =", t.total_seconds())

total seconds = 435633.233423

### Python format datetime

The way date and time is represented may be different in different places, organizations etc. It's more common to use mm/dd/yyyy in the US, whereas dd/mm/yyyy is more common in the UK.

Python has strftime() and strptime() methods to handle this.
Python strftime() - datetime object to string

The strftime() method is defined under classes date, datetime and time. The method creates a formatted string from a given date, datetime or time object.

#### Example 15: Format date using strftime()

In [19]:
from datetime import datetime

# current date and time
now = datetime.now()

t = now.strftime("%H:%M:%S")
print("time:", t)

s1 = now.strftime("%m/%d/%Y, %H:%M:%S")
# mm/dd/YY H:M:S format
print("s1:", s1)

s2 = now.strftime("%d/%m/%Y, %H:%M:%S")
# dd/mm/YY H:M:S format
print("s2:", s2)

time: 21:28:35
s1: 03/29/2021, 21:28:35
s2: 29/03/2021, 21:28:35

Here, %Y, %m, %d, %H etc. are format codes. The strftime() method takes one or more format codes and returns a formatted string based on it.

In the above program, t, s1 and s2 are strings.

    %Y - year [0001,..., 2018, 2019,..., 9999]
    %m - month [01, 02, ..., 11, 12]
    %d - day [01, 02, ..., 30, 31]
    %H - hour [00, 01, ..., 22, 23
    %M - minute [00, 01, ..., 58, 59]
    %S - second [00, 01, ..., 58, 59]

<div><table border="0" style="border:1px black solid">
	<thead>
		<tr>
			<td><strong>Directive</strong></td>
			<td><strong>Meaning</strong></td>
			<td><strong>Example</strong></td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><code>%a</code></td>
			<td>Abbreviated weekday name.</td>
			<td>Sun, Mon, ...</td>
		</tr>
		<tr>
			<td><code>%A</code></td>
			<td>Full weekday name.</td>
			<td>Sunday, Monday, ...</td>
		</tr>
		<tr>
			<td><code>%w</code></td>
			<td>Weekday as a decimal number.</td>
			<td>0, 1, ..., 6</td>
		</tr>
		<tr>
			<td><code>%d</code></td>
			<td>Day of the month as a zero-padded decimal.</td>
			<td>01, 02, ..., 31</td>
		</tr>
		<tr>
			<td><code>%-d</code></td>
			<td>Day of the month as a decimal number.</td>
			<td>1, 2, ..., 30</td>
		</tr>
		<tr>
			<td><code>%b</code></td>
			<td>Abbreviated month name.</td>
			<td>Jan, Feb, ..., Dec</td>
		</tr>
		<tr>
			<td><code>%B</code></td>
			<td>Full month name.</td>
			<td>January, February, ...</td>
		</tr>
		<tr>
			<td><code>%m</code></td>
			<td>Month as a zero-padded decimal number.</td>
			<td>01, 02, ..., 12</td>
		</tr>
		<tr>
			<td><code>%-m</code></td>
			<td>Month as a decimal number.</td>
			<td>1, 2, ..., 12</td>
		</tr>
		<tr>
			<td><code>%y</code></td>
			<td>Year without century as a zero-padded decimal number.</td>
			<td>00, 01, ..., 99</td>
		</tr>
		<tr>
			<td><code>%-y</code></td>
			<td>Year without century as a decimal number.</td>
			<td>0, 1, ..., 99</td>
		</tr>
		<tr>
			<td><code>%Y</code></td>
			<td>Year with century as a decimal number.</td>
			<td>2013, 2019 etc.</td>
		</tr>
		<tr>
			<td><code>%H</code></td>
			<td>Hour (24-hour clock) as a zero-padded decimal number.</td>
			<td>00, 01, ..., 23</td>
		</tr>
		<tr>
			<td><code>%-H</code></td>
			<td>Hour (24-hour clock) as a decimal number.</td>
			<td>0, 1, ..., 23</td>
		</tr>
		<tr>
			<td><code>%I</code></td>
			<td>Hour (12-hour clock) as a zero-padded decimal number.</td>
			<td>01, 02, ..., 12</td>
		</tr>
		<tr>
			<td><code>%-I</code></td>
			<td>Hour (12-hour clock) as a decimal number.</td>
			<td>1, 2, ... 12</td>
		</tr>
		<tr>
			<td><code>%p</code></td>
			<td>Locale’s AM or PM.</td>
			<td>AM, PM</td>
		</tr>
		<tr>
			<td><code>%M</code></td>
			<td>Minute as a zero-padded decimal number.</td>
			<td>00, 01, ..., 59</td>
		</tr>
		<tr>
			<td><code>%-M</code></td>
			<td>Minute as a decimal number.</td>
			<td>0, 1, ..., 59</td>
		</tr>
		<tr>
			<td><code>%S</code></td>
			<td>Second as a zero-padded decimal number.</td>
			<td>00, 01, ..., 59</td>
		</tr>
		<tr>
			<td><code>%-S</code></td>
			<td>Second as a decimal number.</td>
			<td>0, 1, ..., 59</td>
		</tr>
		<tr>
			<td><code>%f</code></td>
			<td>Microsecond as a decimal number, zero-padded on the left.</td>
			<td>000000 - 999999</td>
		</tr>
		<tr>
			<td><code>%z</code></td>
			<td>UTC offset in the form +HHMM or -HHMM.</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td><code>%Z</code></td>
			<td>Time zone name.</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td><code>%j</code></td>
			<td>Day of the year as a zero-padded decimal number.</td>
			<td>001, 002, ..., 366</td>
		</tr>
		<tr>
			<td><code>%-j</code></td>
			<td>Day of the year as a decimal number.</td>
			<td>1, 2, ..., 366</td>
		</tr>
		<tr>
			<td><code>%U</code></td>
			<td>Week number of the year (Sunday as the first day of the week). All days in a new year preceding the first Sunday are considered to be in week 0.</td>
			<td>00, 01, ..., 53</td>
		</tr>
		<tr>
			<td><code>%W</code></td>
			<td>Week number of the year (Monday as the first day of the week). All days in a new year preceding the first Monday are considered to be in week 0.</td>
			<td>00, 01, ..., 53</td>
		</tr>
		<tr>
			<td><code>%c</code></td>
			<td>Locale’s appropriate date and time representation.</td>
			<td>Mon Sep 30 07:06:05 2013</td>
		</tr>
		<tr>
			<td><code>%x</code></td>
			<td>Locale’s appropriate date representation.</td>
			<td>09/30/13</td>
		</tr>
		<tr>
			<td><code>%X</code></td>
			<td>Locale’s appropriate time representation.</td>
			<td>07:06:05</td>
		</tr>
		<tr>
			<td><code>%%</code></td>
			<td>A literal '%' character.</td>
			<td>%</td>
		</tr>
	</tbody>
</table></div>

### Handling timezone in Python

Suppose, you are working on a project and need to display date and time based on their timezone. Rather than trying to handle timezone yourself, we suggest you to use a third-party pytZ module.

In [20]:
from datetime import datetime
import pytz

local = datetime.now()
print("Local:", local.strftime("%m/%d/%Y, %H:%M:%S"))


tz_NY = pytz.timezone('America/New_York') 
datetime_NY = datetime.now(tz_NY)
print("NY:", datetime_NY.strftime("%m/%d/%Y, %H:%M:%S"))

tz_London = pytz.timezone('Europe/London')
datetime_London = datetime.now(tz_London)
print("London:", datetime_London.strftime("%m/%d/%Y, %H:%M:%S"))

Local: 03/29/2021, 21:29:38
NY: 03/29/2021, 11:59:45
London: 03/29/2021, 16:59:45